* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sansserif;
  background-color: #f2f3f4;
  color: #273746;
}
.container {
  margin: 20px auto;
  padding: 0;
  width: 980px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
table {
  width: 100%;
  /* ผสาน border ระหว่าง table กับ td */
  border-collapse: collapse;
}

table,
td {
  border: 1px solid #5d6d7e;
  text-align: center;
}
thead {
  background-color: #273746;
  color: #bdc3c7;
}
/* Striped Tables: ท าไฮไล์ในการแบ่ง row */
tr:nth-child(even) {
  background-color: #bdc3c7;
}
td {
  height: 30px;
  vertical-align: center;
}
.name {
  text-align: left;
  padding-left: 16px;
}
